<section class="column col-3 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" id="admin-pagination-container">

    <form action="/pagination" method="GET" class="pagination-container">
        <div class="admin-header top-border">Quick access</div>
        <label class="radio-container">
            <input type="radio" name="table" value="User" checked > User
        </label>
        <label class="radio-container">
            <input type="radio" name="table" value="Messages"> Messages
        </label>
        <label class="radio-container">
            <input type="radio" name="table" value="Comments"> Comments
        </label>
        <label class="radio-container">
            <input type="radio" name="table" value="Projects"> Projects
        </label>
        <label class="radio-container">
            <input type="radio" name="table" value="Download"> Download
        </label>
        <div class="admin-header">Elements per page</div>
        <select name="limit" id="limit">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <div class="admin-header">Choose page to start at</div>
        <select name="page" id="page">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <button type="submit" id="submitButton-search">Search</button>
        <input type="hidden" name="actionType" value="search"> <!--actionType : search-->
        <div class="admin-header">Page:</div>
    </form>

<div class="previous-next-container">
    <form action="/pagination" method="GET">

        <button type="submit" name="actionType" value="previous" id="previous"><i class="fas fa-arrow-left"></i></button> <!--actionType : previous-->

        <input type="text" name="current" id="current" value="{{current}}" readonly>/<input type="text" name="total" id="total" value="{{total}}" readonly>

        <button type="submit" name="actionType" value="next" id="next"><i class="fas fa-arrow-right"></i></button> <!--actionType : next-->

        <input type="text" name="table" id="table" value="{{table}}" readonly>
        <input type="text" name="limit-2" id="limit-2" value="{{limit}}" readonly>
    </form>
</div>


</section>