            <section class= "column col-3 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" id="contact-info-container">

                <img src="Img/Kaizuka.jpg" alt="Profile picture of Denis Ureke" id="img-contact">
                <div class="image-shape-container">
                    <div id="image-shape"></div>
                </div>

                <div id="name">
                    Denis Ureke
                </div>
                <div id="occupation">
                    Student
                </div>

                <section id="social-media-icons">
                    <a href="" title="Visit Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="" title="Visit Twitter"><i class="fab fa-twitter"></i></a>
                    <a href="" title="Visit Instagram"><i class="fab fa-instagram"></i></a>
                    <a href="https://github.com/DenisUreke" target="_blank" title="Visit Github"><i class="fab fa-github"></i></a>
                    <a href="" title="Visit Linkedin"><i class="fab fa-linkedin"></i></a>
                    <a href="" title="Visit Whatsapp"><i class="fab fa-whatsapp"></i></a>
                </section>

                <footer id="contact-footer">
                    <a href="/downloadCV" title="Donwload CV">Download CV</a>
                    <a href="/contactME" title="Contact form">Contact Me</a>
                </footer>

            </section>
            