<nav class="column col-1 col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12" id="menu-buttons-container">

    <a href="/home">
        <div class="icon-menu {{#when currentPage 'eq' "home"}} color-pink {{/when}} " id="home-button" title="Home">
            <i class="fas fa-home"></i>
            <div id="menu-text">home</div>
        </div>
    </a>

    <a href="/about">
        <div class="icon-menu {{#when currentPage 'eq' "about"}} color-pink {{/when}}" id="education-button" title="About">
            <i class="fas fa-user"></i>
            <div id="menu-text">about</div>
        </div>
    </a>

    <a href="/projects">
        <div class="icon-menu {{#when currentPage 'eq' "projects"}} color-pink {{/when}}" id="work-button" title="Projects">
            <i class="fas fa-briefcase"></i>
            <div id="menu-text">projects</div>
        </div>
    </a>

    <a href="/experience">
        <div class="icon-menu {{#when currentPage 'eq' "experience"}} color-pink {{/when}}" id="comp-skills-button" title="Experience">
            <i class="fas fa-star"></i>
            <div id="menu-text">experience</div>
        </div>
    </a>
    <a href="/forum">
        <div class="icon-menu {{#when currentPage 'eq' "forum"}} color-pink {{/when}}" id="languages-button" title="Comment">
            <i class="fas fa-comment"></i>
            <div id="menu-text">comment</div>
        </div>
    </a>
    <a href="/logout">
        <div class="icon-menu" id="education-button" title="Log-out">
            <i class="fas fa-door-open"></i>
            <div id="menu-text">log-out</div>
        </div>
    </a>
    {{#if isAdmin}}
    <a href="/admin">
        <div class="icon-menu {{#when currentPage 'eq' "admin"}} color-pink {{/when}}" id="other-button" title="Admin">
            <i class="fas fa-cog"></i>
            <div id="menu-text">admin</div>
        </div>
    </a>
    {{/if}}

</nav>