<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/atMedia.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Denis Ureke home</title>
</head>

<body>
    <div class="container" id="background-container">
        <div class="columns" id="columns-container">

            {{> menu-section}}

            {{> contact-section}}

            {{{body}}}

        </div>
    </div>
</body>

</html>