<section class="column col-6 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" id="main-window-container">
    <div class="main-window-header-image mirror-image"><img src="Img/kazuka-2.jpg" alt="Picture of a sunset in city"
            id="home-sunset-picture"></div>
    <div class="main-page-icon"><i class="fas fa-user color-pink"></i></div>
    <div class="header-headline">a little<div class="header-headline-bolded">ABOUT</div>me</div>
    <div class="flex-two-rows">
        <div class="flex-left justify-text margin-1vh">
            <div class="header-headline">a new beginning<div class="header-headline-bolded"></div>
            </div>
            <div class="margin-bottom-1vh">Lorem ipsum, dolor sit elit. Magni soluta recusandae vel, officia
                fugit illum asperiores culpa repellendus cum, sit officiis modi
                dolor ullam. Expedita cupiditate, architecto, provident repellendus vel culpa maiores error
                fuga repudiandae explicabo saepe a
                natus perspiciatis Corporis
                provident repellendus vel repellendus vel culpa maiores?Lorem ipsum dolor sit amet
                consectetur adipisicing elit.
                Expedita cupiditate, architecto, provident architecto, provident repellendus vel repellendus
                vel culpa maiores?
                Lorem ipsum dolor sit Et repudiandae voluptas dolore, perspiciatis voluptate repellendus
                vita officia aliquam, ad ut! Iure ipsa unde aspernatur mollitia obcaecati et
                vero enim est cum perferendis. Corporis
                laboriosam architecto est ?</div>
            <div class="header-headline margin-top-2">fun begins<div class="header-headline-bolded"></div>
            </div>
            <div>Lorem ipsum, dolor sit elit. Magni soluta recusandae vel, officia fugit illum asperiores
                culpa repellendus cum, sit officiis modi
                dolor ullam. Expedita cupiditate, architecto, provident repellendus vel culpa maiores error
                fuga repudiandae explicabo saepe a
                natus perspiciatis officia aliquam, ad ut! Iure ipsa unde aspernatur mollitia obcaecati et
                vero enim est cum perferendis. Corporis
                laboriosam architecto est?Expedita cupiditate, architecto, provident repellendus vel culpa
                maiores error
                fuga repudiandae explicabo saepe a
                natus perspiciatis officia aliquam, ad ut! Iure ipsa unde aspernatur mollitia obcaecati et
                vero enim est cum perferendis. Corporis
                provident repellendus vel repellendus vel culpa maiores?Lorem ipsum dolor sit amet
                consectetur adipisicing elit.
                Expedita cupiditate, architecto, provident architecto, provident repellendus vel repellendus
                vel culpa maiores?
                Lorem ipsum dolor sit Et repudiandae voluptas dolore, perspiciatis voluptate repellendus
                vitae? Accusamus cumque
                quasi officia nihil quo. Magni voluptatum beatae iusto laudantium voluptas, necessitatibus
                officiis?</div>
        </div>
        <div class="flex-right justify-text margin-1vh">
            <div class="header-headline">
                <div class="header-headline-bolded"></div>
            </div>
            <div class="margin-bottom-1vh">Lorem ipsum, dolor sit elit. Magni soluta recusandae vel, officia fugit illum
                asperiores
                culpa repellendus cum, sit officiis modi
                dolor ullam. Expedita cupiditate, architecto, provident repellendus vel culpa maiores error
                fuga repudiandae explicabo saepe anatus perspiciatis officia aliquam.</div>
            <div class="spread margin-bottom-1vh"> <img src="img/City.jpg" alt="Sunset in a city by the sea"></div>
            <div class="margin-bottom-1vh">Lorem ipsum, dolor sit elit. Magni soluta recusandae vel,
                officia fugit illum asperiores culpa repellendus cum, sit officiis modi
                dolor ullam. Expedita cupiditate, architecto, provident repellendus vel culpa maiores
                error fuga repudiandae explicabo saepe a
                natus perspiciatis officia aliquam, ad ut! Iure ipsa unde aspernatur mollitia obcaecati
                et vero enim est cum perferendis. Corporis
                laboriosam architecto est? Expedita cupiditate, architecto, provident architecto,
                provident repellendus vel repellendus vel culpa maiores?Lorem ipsum dolor sit amet
                consectetur adipisicing elit.
                Expedita cupiditate, architecto, provident architecto, provident repellendus vel
                repellendus vel culpa maiores?</div>
        </div>
    </div>
</section>