<div class="container" id="background-container">
    <div class="columns" id="columns-container">
        <div class="column col-2 col-xl-3 col-lg-8 col-md-12 col-sm-12 error-window">
            <div class="main-window-header-image">
                <img src="Img/error.jpg" alt="picture of the end of the world!" id="home-sunset-picture">
            </div>

            <div class="header-headline">

                <div class="header-headline-bolded">error:</div>
            </div>
            <div class="display-code error-message">{{ErrorCode}}</div>
            <div class="server-message">{{Error}}</div>
            <a href="/log-in" title="Return to Log-in">
                <footer class="return-to-login">Return to log-in</footer>
            </a>

        </div>

    </div>
</div>