<section class="column col-6 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" id="main-window-container">
    <div class="main-window-header-image"><img src="Img/skyandtrucks.jpg" alt="Picture of a sunset in city"
            id="home-sunset-picture"></div>
    <div class="main-page-icon"><i class="fas fa-star current-page"></i></div>
    <div class="header-headline">my <div class="header-headline-bolded">JOURNEY</div>
    </div>
    <div class="pagination">
        <!-- Left arrow link -->
        <a href="" title="Previous">
            <i class="fas fa-arrow-left arrow" aria-label="Go to experience page"></i>
        </a>
        <!-- Right arrow link -->
        <a href="/holder" title="Next">
            <i class="fas fa-arrow-right arrow" aria-label="Go to holder page"></i>
        </a>
    </div>
    <div class="timeline-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <div class="timeline">
                            <span class="timeline-icon"></span>
                            <div class="timeline-content">
                                <h3 class="title">Student</h3>
                                <p class="description">
                                    "Jönköping University: Pursuing a Computer Engineering degree at Jönköping
                                    University, delving into cutting-edge tech and innovative solutions."
                                </p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-graduation-cap"></i>
                                <span class="year">2022</span>
                            </div>
                        </div>
                        <div class="timeline">
                            <span class="timeline-icon"></span>
                            <div class="timeline-content">
                                <h3 class="title">Restaurant Owner
                                </h3>
                                <p class="description">
                                    "Kock och Bar: Managed all facets from finances to daily operations. Additionally,
                                    organized large events, ensuring memorable experiences for our guests.
                                </p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-user"></i>
                                <span class="year">2007</span>
                            </div>
                        </div>
                        <div class="timeline">
                            <span class="timeline-icon"></span>
                            <div class="timeline-content">
                                <h3 class="title">Head Chef</h3>
                                <p class="description">
                                    "Karlsson salonger: Crafted innovative menus, orchestrated staff schedules, and
                                    managed inventory orders, ensuring seamless kitchen operations."
                                </p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-utensils"></i>
                                <span class="year">2005</span>
                            </div>
                        </div>
                        <div class="timeline">
                            <span class="timeline-icon"></span>
                            <div class="timeline-content">
                                <h3 class="title">Sous Chef</h3>
                                <p class="description">
                                    "Elite Stora Hotellet: Assisted the team in delivering top-quality cuisine, ensuring
                                    impeccable service and maintaining the hotel's esteemed culinary reputation."
                                </p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-utensils"></i>
                                <span class="year">2003</span>
                            </div>
                        </div>
                        <div class="timeline">
                            <span class="timeline-icon"></span>
                            <div class="timeline-content">
                                <h3 class="title">Line Chef</h3>
                                <p class="description">
                                    Dal Baffo: "Where teamwork met high pressure, igniting my passion for culinary arts
                                    and teaching me the essence of collaboration."
                                </p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-utensils"></i>
                                <span class="year">2002</span>
                            </div>
                        </div>
                        <div class="timeline">
                            <span class="timeline-icon"></span>
                            <div class="timeline-content">
                                <h3 class="title">Graphical Desginer</h3>
                                <p class="description">
                                    Jönköpings-Posten: "Fresh out of school, I channeled my creativity into designs,
                                    crafting visuals that captivated our local readership."
                                </p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-laptop"></i>
                                <span class="year">2001</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>