<section class="column col-6 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" id="main-window-container">
    <div class="main-window-header-image"><img src="Img/sunset.jpg" alt="Picture of a sunset in city"
            id="home-sunset-picture"></div>
    <div class="main-page-icon"><i class="fas fa-home current-page"></i></div>
    <div class="header-headline">stay<div class="header-headline-bolded">WELCOME</div>browse</div>
    <div class="flex-two-rows">
        <div class="flex-left justify-text margin-1vh">
            <div class="header-headline">a journey<div class="header-headline-bolded"></div>
            </div>
            <div class="margin-bottom-1vh">
                Lorem ipsum, dolor sit elit. Magni soluta recusandae vel, officia
                fugit illum asperiores culpa repellendus cum, sit officiis modi
                dolor ullam. Expedita cupiditate, architecto, provident repellendus vel culpa maiores error
                fuga repudiandae explicabo saepe a
                natus perspiciatis officia aliquam, ad ut! Iure ipsa unde aspernatur mollitia obcaecati et
                vero enim est cum perferendis. Corporis
                laboriosam architecto est?</div>
            <div class="spread margin-bottom-1vh"> <img src="img/park.jpg" alt="A beautiful park blooming"></div>
            <div>Lorem ipsum, dolor sit elit. Magni soluta recusandae vel, officia fugit illum asperiores
                culpa repellendus cum, sit officiis modi
                dolor ullam. Expedita cupiditate, architecto, provident repellendus vel culpa maiores error
                fuga repudiandae explicabo saepe a
                natus perspiciatis officia aliquam, ad ut! Iure ipsa unde aspernatur mollitia obcaecati et
                vero enim est cum perferendis. Corporis
                laboriosam architecto est?</div>
        </div>
        <div class="flex-right justify-text margin-1vh">
            <div class="header-headline">
                <div class="header-headline-bolded"></div>
            </div>
            <div>Lorem ipsum, dolor sit elit. Magni soluta recusandae vel, officia fugit illum asperiores
                culpa repellendus cum, sit officiis modi
                dolor ullam. Expedita cupiditate, architecto, provident repellendus vel culpa maiores error
                fuga repudiandae explicabo saepe a natus perspiciatis officia aliquam.
                <div class="header-headline margin-top-2">stronger together<div class="header-headline-bolded"></div>
                </div>
                <div class="margin-bottom-1vh">Lorem ipsum, dolor sit elit. Magni soluta recusandae vel,
                    officia fugit illum asperiores culpa repellendus cum, sit officiis modi
                    dolor ullam. Expedita cupiditate, architecto, provident repellendus vel culpa maiores
                    error fuga repudiandae explicabo saepe a
                    natus perspiciatis officia aliquam, ad ut! Iure ipsa unde aspernatur mollitia obcaecati
                    et vero enim est cum perferendis. Corporis
                    laboriosam architecto est?</div>
                <div class="margin-bottom-1vh">Lorem ipsum, dolor sit elit. Magni soluta recusandae vel,
                    officia fugit illum asperiores culpa repellendus cum, sit officiis modi
                    dolor ullam. Expedita cupiditate, architecto, provident repellendus vel culpa maiores
                    error fuga repudiandae explicabo saepe a
                    natus perspiciatis officia aliquam, ad ut! Iure ipsa unde aspernatur mollitia obcaecati
                    et vero enim est cum perferendis. Corporis
                    laboriosam architecto est? Expedita cupiditate, architecto, provident architecto,
                    provident repellendus vel repellendus vel culpa maiores?Lorem ipsum dolor sit amet
                    consectetur adipisicing elit.
                    Expedita cupiditate, architecto, provident architecto, provident repellendus vel
                    dita cupiditate, architecto, provident repellendus vel culpa maiores
                </div>
            </div>
        </div>
</section>