<div class="container-fluid" id="background-container">
    <div class="row" id="columns-container">
        <form action="/login" method="POST" id="loginForm" class="log-in-container">
            <div class="main-window-header-image">
                <img src="Img/sunset.jpg" alt="Picture of a sunset in city" id="home-sunset-picture">
            </div>

            <div class="header-headline">
                please
                <div class="header-headline-bolded">LOG</div> in
            </div>

            <div class="justify-center-container">

                <div class="error-message">{{Error}}</div>
                <div class="success-message">{{Success}}</div>

                <div class="log-in-input-box">
                    <div class="log-in-instruction">enter your email or username</div>
                    <input type="text" name="emailOrUsername" id="email" class="input-box" required autocomplete="off"
                        placeholder="example@example.com or username" title="Enter your email address or username">
                </div>

                <div class="log-in-input-box">
                    <div class="log-in-instruction">enter your password</div>
                    <input type="password" name="password" id="password" class="input-box" required autocomplete="off"
                        placeholder="Password" title="Enter your password">
                </div>

                <button class="button-log-in" id="log-in-button" type="submit">Log in</button>
            </div>

            <div class="log-in-instruction" id="not-registered">
                Not registered?
                <a href="/register" class="register-link">Register Here!</a>
            </div>
        </form>
    </div>
</div>