@media (min-width: 1920px) {

    #contact-footer {
        font-size: clamp(0.5rem, 1.3vw, 1.3rem);
        margin-top: 7vh;
        width: 20vw;
        margin-right: 1vw;
        margin-left: 1vw;
    }

    #menu-buttons-container {
        width: 5%;
    }

    #contact-info-container {
        width: 20%;
    }


}

@media (max-width: 1920px) {

    /* XL - Laptop*/
    #register-box {
        margin-top: -4vh;
    }

    #contact-footer {
        font-size: clamp(0.5rem, 1.3vw, 1.3rem);
        margin-top: 16vh;
        width: 20vw;
    }


    .image-shape-container {
        left: -50vw;
        top: -35vh;
    }

    #image-shape {
        width: 100vw;
        height: 35vh;
        clip-path: polygon(0% 0%,
                50% 90%,
                100% 0%,
                100% 100%,
                0% 100%);
    }

    #menu-buttons-container {
        width: 5%;
    }

    #contact-info-container {
        height: 80vh;
    }

    #main-window-container {
        height: 80vh;
    }

}

@media (max-width: 1500px) {

    #contact-info-container {
        height: 90vh;
    }

    #main-window-container {
        height: 90vh;
    }


    #contact-footer {
        font-size: clamp(0.5rem, 1.3vw, 1.3rem);
        margin-top: 28vh;
    }

    .grid-projects {
        font-size: clamp(0.5rem, 1.2vw, 1.2rem);
    }
}

@media (max-width: 1280px) {

    /*projects insert*/
    .insert-arrow{
        width: 90vw;
        margin-top: -1vh;
        text-align: left;
        font-size: clamp(0.5rem, 5vw, 5rem);
    }

    .form-container{
        width: 70vw;
    }

    .input-field{
        width: 50vw;
        height: 5vh;
    }

    #delete-project{
        width: 7.3vw;
        height: 5vh;
    }

    #delete-post {
        font-size: clamp(0.5rem, 1.7vw, 1rem);
        margin-right: 1.5vh;
    }

    .comment-date {
        font-size: clamp(0.4rem, 1.2vw, 1rem);
    }

    .comment-content {
        font-size: clamp(0.5rem, 1.7vw, 1rem);
    }

    #comment {
        font-size: clamp(0.5rem, 1.6vw, 1rem);
    }

    #project-detail-container {
        height: 100vh;
    }

    #contact-message {
        height: 25vh;
    }

    #contact-email,
    #contact-message {
        width: 35vw;
        font-size: clamp(0.2rem, 1.5vw, 1.5rem);
    }

    .contact-text {
        font-size: clamp(0.2rem, 2.2vw, 2.2rem);
    }

    .icons-contact {
        font-size: clamp(0.2rem, 2.2vw, 2.2rem);
    }

    #contact-submit {
        width: 12vw;
        height: 5vh;
    }


    #comment {
        width: 35vw;
        height: 10vh;
    }

    .comment-box {
        width: 40vw;
        height: 7vh;
    }

    #contact-footer {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-top: 13vh;
        font-size: clamp(0.5rem, 1.3vw, 1.3rem);
    }

    #menu-buttons-container {
        top: 0;
        position: absolute;
        position: -webkit-sticky;
        position: sticky;
        flex-direction: row;
        height: 8vh;
        gap: 2vw;
        width: 100vw;
        z-index: 20;
    }

    .radio-container {
        font-size: clamp(0.5rem, 2.3vw, 2.3rem);
        font-weight: bold;
    }

    #limit,
    #page {
        height: 6vh;
        font-size: clamp(0.5rem, 2.3vw, 2.3rem);
        text-align: center;
        font-weight: bold;
    }

    #current,
    #total {
        width: 20vw;
        height: 6vh;
        text-align: center;
        font-size: clamp(0.5rem, 2.3vw, 2.3rem);
        font-weight: bold;
        border: none;
    }

    #previous,
    #next {
        height: 7vh;
        width: 6vw;
    }

    #admin-pagination-container {
        height: 70vh;
    }

    .main-page-icon {
        left: 80vw;
        width: 12vw;
        height: 12vh;
    }

    .icon-menu {
        font-size: clamp(0.5rem, 3vw, 3rem);

    }

    #menu-buttons-container {
        gap: 7vw;
    }


    #contact-footer {
        font-size: clamp(0.5rem, 1.3vw, 1.3rem);
        margin-top: 13vh;
    }

    #contact-info-container {
        height: 90vh;
        margin: 0;
    }

    #main-window-container {
        height: 90vh;
        margin: 0;
    }

    #columns-container {
        align-items: flex-start;
        padding: 0;
    }

    .font-size {
        font-size: clamp(0.2rem, 1vw, 1rem);
    }

    .image-shape-container {
        left: -50vw;
        top: -33vh;
    }

    /*forum page*/
    .box-comment-container {
        width: 25vh;
        height: auto;
        margin-left: 1vh;
    }

    .second {
        width: 25vw;
        margin-right: -2vh;
    }

    .design-container {
        left: 6vw;
    }

    .box-comment-container {
        left: 1vw;
        width: 25vw;
    }

    .posting-instructions {
        font-size: clamp(0.5rem, 1.3vw, 1.9rem);
    }

    .log-in-container {
        height: 100%;
        width: 100%;
    }

    .input-box {
        height: 7vh;
        width: 50vw;
        font-size: 3vw;
    }

    .button-log-in {
        width: 30vw;
        height: 10vh;
        font-size: 3vh;
    }

    .header-headline {
        font-size: clamp(0.5rem, 3vw, 3rem);
    }
}

@media (max-width: 992px) {
    /*992*/
    /*Medium*/

    #project-detail-container {
        height: 100vh;
    }

    #contact-submit {
        width: 15vw;
        height: 6vh;
    }

    #menu-buttons-container {
        position: absolute;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        flex-direction: row;
        height: 10vh;
        gap: 2vw;
        z-index: 20;
    }

    .font-size {
        font-size: 12px;
    }

    #contact-info-container {
        height: 100vh;

    }

    #main-window-container {
        height: 100vh;
    }

    .image-shape-container {
        left: -50vw;
        top: -15vh;
    }

    #image-shape {
        width: 100vw;
        height: 35vh;
        clip-path: polygon(0% 0%,
                50% 35%,
                100% 0%,
                100% 100%,
                0% 100%);
    }

    #contact-footer {
        font-size: clamp(0.5rem, 3.2vw, 3.3rem);
        margin-top: 25vh;
        width: 100%;
        padding-left: 25vw;
        padding-right: 25vw;
    }

    .header-in-box {
        transform: scale(2.5);
        margin-right: 3vh;
    }

    #name {
        font-size: clamp(0.5rem, 4vw, 4rem);
    }

    #occupation {
        font-size: clamp(0.5rem, 3vw, 3rem);
    }

    .header-headline {
        font-size: clamp(0.5rem, 4vw, 4rem);
    }

    /*Projects*/
    .project-5-img,
    .project-4-img,
    .project-3-img,
    .project-2-img,
    .project-1-img {
        width: 12vh;
    }

    .grid-projects {
        font-size: clamp(0.5rem, 2vw, 2rem);
    }

    .flex-two-rows {
        font-size: clamp(0.5rem, 3vw, 3rem);
    }


    .icon-menu {
        font-size: clamp(0.5rem, 4vw, 4rem);

    }

    #menu-buttons-container {
        gap: 5vw;
    }
}



@media (max-width: 915px) {
    /*915*/

    .grid-projects {
        font-size: clamp(0.5rem, 3vw, 3rem);
    }
}



@media (max-width: 768px) {
    /*768*/

    .icon-menu {
        font-size: clamp(0.5rem, 5vw, 5rem);

    }

    #menu-buttons-container {
        gap: 5vw;
    }

    .project-1-download,
    .project-2-download,
    .project-3-download,
    .project-4-download,
    .project-5-download {
        font-size: clamp(0.5rem, 4vw, 4rem);
    }

    .log-in-container {
        height: 100%;
        width: 100%;
    }

    .button-log-in {
        width: 30vw;
        height: 5vh;
        font-size: 2vh;
    }
}