/*--------------------Global Changes---------------*/

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    color: #3B4351;
    overflow-y: hidden;
    /*kolla detta*/
    margin: 0;
    /*kolla detta*/
}

.font-size {
    font-size: clamp(0.5rem, 0.75vw, 1rem);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none !important;
    color: inherit !important;
}

a:hover {
    text-decoration: none !important;
    color: #9F496E !important;
}

a:focus {
    outline: none; /* Remove the outline */
  }

/*General containers - Images*/

.image-adjusted-to-fit-div {
    position: relative;
    border: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.image-adjusted-to-fit-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mirror-image {
    transform: scaleX(-1);
}

.spread img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*General Tweaks - text*/
.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.justify-text {
    text-align: justify;
}

.color-pink {
    color: #9F496E;
}

.margin-1vh {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.margin-top {
    margin-top: 6vh;
}

.margin-top-2 {
    margin-top: -2vh;
}

.margin-bottom-1vh {
    margin-bottom: 1vh;
}

.align-text-center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

/*-----------------Main Containers-----------------*/


#background-container {
    /*Grandparent*/
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #647295, #9F496E);
}

#columns-container {
    /*Parent*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1vh;
    overflow-y: auto;
    margin: 0;
}

#menu-buttons-container {
    /* Left-Child */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #F2EBE5;
    border-radius: 1vh 1vh 1vh 1vh;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 50vh;
    gap: 0.4vh;
}

#contact-info-container {
    /* Center-Child */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F2EBE5;
    border-radius: 1vh 1vh 1vh 1vh;
    height: 70vh;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0.2vh;
}

#main-window-container {
    /* Right-Child */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F2EBE5;
    border-radius: 1vh 1vh 1vh 1vh;
    height: 70vh;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0.2vh;
}

#admin-window-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F2EBE5;
    border-radius: 1vh 1vh 1vh 1vh;
    height: 70vh;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0.2vh;
}

#admin-pagination-container {
    /* Center-Child */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F2EBE5;
    border-radius: 1vh 1vh 1vh 1vh;
    height: 60vh;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0.2vh;
}

/*-------------------------------------------------*/
/*-------------------Menu tweaks-------------------*/

.icon-menu {
    font-size: clamp(0.5rem, 1.7vw, 1.7rem);
    transition: color 0.2s ease-in-out;
}

.icon-menu:hover {
    color: #9F496E;
}

#menu-text {
    font-size: clamp(0.3rem, 1.2vh, 1.2rem);
    margin-top: -0.7vh;
}

/*-------------------------------------------------*/
/*------------------Contact tweaks-----------------*/

#img-contact {
    width: 100%;
    max-height: 40vh;
    border-radius: 1vh 1vh 0vh 0vh;
}

.image-shape-container {
    position: relative;
    width: auto;
    height: auto;
    left: -10vw;
    top: -11vh;
}

#image-shape {
    position: absolute;
    width: 19.9vw;
    height: 15vh;
    background-color: #F2EBE5;
    clip-path: polygon(0% 0%,
            50% 50%,
            100% 0%,
            100% 100%,
            0% 100%);
    z-index: 2;
}

#name {
    font-size: clamp(0.5rem, 3vw, 2.5rem);
    width: auto;
    align-items: center;
    justify-content: center;
    margin-top: -3vh;
    z-index: 3;
    font-weight: 600;
}

#occupation {
    color: #9F496E;
    font-size: clamp(0.5rem, 1.5vw, 2.5rem);
    font-weight: 500;
    z-index: 4;
}

#social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5vw;
    width: 100%;
    height: auto;
    font-size: 2vh;
    margin-top: 4vh;
}

#contact-footer {
    display: flex;
    justify-content: space-between;
    width: 16vw;
    font-size: clamp(0.2rem, 0.8vw, 1.3rem);
    margin-top: 13vh;
}

/*-------------------------------------------------*/
/*-----------Main window header tweaks-------------*/

.main-window-header-image {
    position: relative;
    border: none;
    overflow: hidden;
    width: 100%;
    height: 20vh;
}

.main-window-header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1vh 1vh 0vh 0vh;
}

.main-page-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
    width: 6vw;
    border-radius: 50%;
    background-color: #F2EBE5;
    left: 40vw;
    top: 15.5vh;
    font-size: clamp(0.2rem, 3.2vw, 3.2rem);
    color: #9F496E;

}

/*-------------------------------------------------*/
/*----------Main window grid compostion 1----------*/

.grid-composition-1 {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: calc(100% - 20vh);
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    gap: 1vh;
    text-align: left;
}

.left-block {
    background-color: #9F496E;
    grid-area: 1 / 1 / -1 / 5;
}

/*------------------------------*/
.right-block-header {
    grid-area: 1 / 5 / 4 / -1;
}

.my-space-container {
    position: relative;
    top: -3vh;
    left: 4.5vw;
}

.my-space {
    position: absolute;
    font-size: clamp(0.5rem, 6.7vh, 6.7rem);
    font-family: 'Times New Roman', Times, serif;
    color: #3B4351;
    font-style: normal;
}

/*------------------------------*/
.icon-1 {
    grid-area: 4 / 5 / 7 / 7;
}

.icon-2 {
    grid-area: 7 / 5 / 10 / 7;
}

.icon-3 {
    grid-area: 10 / 5 / 13 / 7;
}

/*------------------------------*/
.main-text-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 4vw;
    border-radius: 50%;
    background-color: #F2EBE5;
    font-size: clamp(0.2rem, 3vw, 3rem);
    border: 0.1vh solid black;
    color: #3B4351;
}

/*------------------------------*/
.text-home-1 {
    grid-area: 4 / 7 / 7 / -1;
}

.text-home-2 {
    grid-area: 7 / 7 / 10 / -1;
}

.text-home-3 {
    grid-area: 10 / 7 / 13 / -1;
}

/*-------------------------------------------------*/
/*------------Main window flex composition---------*/

.cursive-for-headers {
    font-size: clamp(0.5rem, 2vw, 5.5rem);
    font-style: italic;
    margin-top: -1vh;
    color: #9F496E;
}

.header-headline {
    position: relative;
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    height: 6vh;
    text-align: left;
    font-size: clamp(0.2rem, 2vw, 2rem);
    font-style: italic;
    color: #9F496E;

}

.header-headline-bolded {
    position: relative;
    display: flex;
    color: #3B4351;
    font-style: normal;
    width: auto;
    height: 12vh;
    text-align: left;
    font-size: clamp(0.5rem, 6.7vh, 5rem);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: flex-end;
    justify-content: flex-start;
    line-height: 1;
}

.flex-two-rows {
    position: relative;
    display: flex;
    flex-direction: row;
    height: calc(100% - 30vh);
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    gap: 1vh;
    text-align: left;
    overflow-y: auto;
}

.flex-left {
    height: 100%;
    width: 50%;
}

.flex-right {
    height: 100%;
    width: 50%;
}

/*-------------------------------------------------*/
/*----------Main window grid composition 2---------*/

.grid-projects {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: calc(100% - 30vh);
    grid-template-rows: auto;
    overflow-y: auto;
    width: 100%;
    padding-top: 3vh;
    padding-bottom: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    gap: 1vh;
    grid-auto-rows: minmax(auto, auto);
}

.project-title {
    color: #9F496E;
    font-weight: bold;
    font-size: clamp(0.5rem, 2vh, 2rem);
    width: 3vw;
}

.project-1-img {
    grid-area: 1 / 1 / 2 / 3;
    height: 9vh;
    width: 4.5vw;
    overflow: hidden;
    border-radius: 50%;
}

.project-1-description {
    grid-area: 1 / 3 / 2 / 11;
    height: 8vh;
    flex-direction: column;
}

.project-1-download {
    grid-area: 1 / 12 / 2 / -1;
    height: 8vh;
}

.project-2-img {
    grid-area: 2 / 1 / 3 / 3;
    height: 9vh;
    width: 4.5vw;
    overflow: hidden;
    border-radius: 50%;
}

.project-2-description {
    grid-area: 2 / 3 / 3 / 11;
    height: 8vh;
    flex-direction: column;
}

.project-2-download {
    grid-area: 2 / 12 / 3 / -1;
    height: 8vh;
}

.project-3-img {
    grid-area: 3 / 1 / 4 / 3;
    height: 9vh;
    width: 4.5vw;
    overflow: hidden;
    border-radius: 50%;
}

.project-3-description {

    grid-area: 3 / 3 / 4 / 11;
    height: 8vh;
    flex-direction: column;
}

.project-3-download {

    grid-area: 3 / 12 / 4 / -1;
    height: 8vh;
}

.project-4-img {
    grid-area: 4 / 1 / 5 / 3;
    height: 9vh;
    width: 4.5vw;
    overflow: hidden;
    border-radius: 50%;
}

.project-4-description {
    grid-area: 4 / 3 / 5 / 11;
    height: 8vh;
    flex-direction: column;
}

.project-4-download {
    grid-area: 4 / 12 / 5 / -1;
    height: 8vh;
}

.project-5-img {
    grid-area: 5 / 1 / 6 / 3;
    height: 9vh;
    width: 4.5vw;
    overflow: hidden;
    border-radius: 50%;
}

.project-5-description {
    grid-area: 5 / 3 / 6 / 11;
    height: 8vh;
    flex-direction: column;
}

.project-5-download {
    grid-area: 5 / 12 / 6 / -1;
    height: 8vh;
}

.project-6-img {
    grid-area: 6 / 1 / 7 / 3;
    height: 9vh;
    width: 4.5vw;
    overflow: hidden;
    border-radius: 50%;
}

.project-6-description {
    grid-area: 6 / 3 / 7 / 11;
    height: 8vh;
    flex-direction: column;
}

.project-6-download {
    grid-area: 6 / 12 / 7 / -1;
    height: 8vh;
}

.project-7-img {
    grid-area: 7 / 1 / 8 / 3;
    height: 9vh;
    width: 4.5vw;
    overflow: hidden;
    border-radius: 50%;
}

.project-7-description {
    grid-area: 7 / 3 / 8 / 11;
    height: 8vh;
    flex-direction: column;
}

.project-7-download {
    grid-area: 7 / 12 / 8 / -1;
    height: 8vh;
}

.project-8-img {
    grid-area: 8 / 1 / 9 / 3;
    height: 9vh;
    width: 4.5vw;
    overflow: hidden;
    border-radius: 50%;
}

.project-8-description {
    grid-area: 8 / 3 / 9 / 11;
    height: 8vh;
    flex-direction: column;
}

.project-8-download {
    grid-area: 8 / 12 / 9 / -1;
    height: 8vh;
}

.projects {
    position: absolute;
    font-size: clamp(0.5rem, 6.7vh, 5rem);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 21.4vh;
    left: 8.5vw;
}

.project-1-img img,
.project-2-img img,
.project-3-img img,
.project-4-img img,
.project-5-img img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.project-1-description,
.project-2-description,
.project-3-description,
.project-4-description,
.project-5-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.project-1-download,
.project-2-download,
.project-3-download,
.project-4-download,
.project-5-download {
    font-size: clamp(0.5rem, 1.4vw, 1.4rem);
    transition: color 0.2s ease-in-out;
}

.project-1-download:hover,
.project-2-download:hover,
.project-3-download:hover,
.project-4-download:hover,
.project-5-download:hover {
    text-decoration: none;
    color: #9F496E;
}

.my {
    left: 3.9vw;
    top: -3.5vh;
}

.more-info {
    font-weight: bold;
    font-size: clamp(0.5rem, 1vw, 1rem);
}

#delete-project{
    background-color: #9F496E;
    width: 2.5vw;
    height: 5vh;
    color: white;
    text-align: center;
    cursor: pointer;
}


/*-------------------------------------------------*/
/*------------Project details page-----------------*/

#project-detail-container {
    position: relative;
    height: 80vh;
    background-color: #F2EBE5;
    border-radius: 1vh 1vh 1vh 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.1vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.project-content-desription {
    padding: 5vh;
    width: 100%;
    height: 40vh;
    text-align: justify;
    font-size: clamp(0.5rem, 1.5vh, 1.5rem);

}

.return-footer {
    padding: 5vh;
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    font-size: clamp(0.5rem, 3vh, 3rem);
}

/*-------------------------------------------------*/
/*------------------Time-Line----------------------*/
#time {
    left: 14vw;
}

#line {
    left: 19.5vw;
    top: -9vh;
    font-size: clamp(0.5rem, 2vw, 2.5rem);
}

/*-------------------------------------------------*/

/*--------------Experience button------------------*/


/*--------------Pagination-Button------------------*/
.arrow {
    margin-left: 3vh;
}

.pagination {
    position: absolute;
    top: 18.5vh;
    left: 2vw;
    font-size: clamp(0.5rem, 2.5vw, 2.5rem);
    color: #9F496E;
    font-weight: bold;
}

/*--------------Skill bars----------------*/

.skills2-container {
    width: 100%;
    height: 40vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5vh;
    padding-left: 8vw;
    overflow-y: auto;
}


.progress-title {
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    color: #455493;
    margin: 0 0 20px;
}

.progress {
    height: 7px;
    background: #f8f8f8;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
}

.progress .progress-bar {
    box-shadow: none;
    border-radius: 0;
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
}

.progress .progress-bar:before,
.progress .progress-bar:after {
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    top: -6px;
    right: 16px;
    transform: rotate(45deg);
}

.progress .progress-bar:after {
    border: 4px solid #fff;
    position: absolute;
    right: 2px;
}

.progress.red .progress-bar:before,
.progress.red .progress-bar:after {
    outline: 4px solid #647295;
}

.progress.red .progress-bar:after {
    background: #647295;
}

.progress.yellow .progress-bar:before,
.progress.yellow .progress-bar:after {
    outline: 4px solid #9F496E;
}

.progress.yellow .progress-bar:after {
    background: #9F496E;
}

.progress.blue .progress-bar:before,
.progress.blue .progress-bar:after {
    outline: 4px solid #20a39e;
}

.progress.blue .progress-bar:after {
    background: #20a39e;
}

.progress.green .progress-bar:before,
.progress.green .progress-bar:after {
    outline: 4px solid #7cb518;
}

.progress.green .progress-bar:after {
    background: #7cb518;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0;
    }
}

@keyframes animate-positive {
    0% {
        width: 0;
    }
}

/*--------------Time-line-Bootstrap----------------*/

.timeline-container {
    position: relative;
    width: 100%;
    height: calc(100% - 30vh);
    overflow-y: auto;
    padding-top: 3vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.main-timeline {
    overflow: hidden;
    position: relative;
}

.main-timeline .timeline {
    position: relative;
}

.main-timeline .timeline:before,
.main-timeline .timeline:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-timeline .timeline:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid #fff;
    background: #9F496E;
    box-sizing: content-box;
    margin: auto;
    position: absolute;
    top: 0;
    left: 2%;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.main-timeline .timeline-icon {
    width: 24px;
    height: 100%;
    border-radius: 0 12px 12px 0;
    background: #9F496E;
    position: absolute;
    top: 0;
    left: 51%;
    z-index: 1;
    transform: translateX(-50%);
}

.main-timeline .timeline-icon:before {
    content: "";
    width: 47px;
    height: 4px;
    background: #9F496E;
    margin: auto 0;
    position: absolute;
    top: 0;
    left: 24px;
    bottom: 0;
}

.main-timeline .timeline-icon:after {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #9F496E;
    margin: auto 0;
    position: absolute;
    top: 0;
    left: 70px;
    bottom: 0;
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 30px 40px 30px 80px;
}

.main-timeline .title {
    font-size: 24px;
    font-weight: bold;
    color: #9F496E;
    text-align: center;
    margin: 0 0 7px 0;
}

.main-timeline .description {
    font-size: 14px;
    color: #959595;
    line-height: 24px;
    margin: 0;
}

.main-timeline .icon {
    width: 50%;
    height: auto;
    padding-left: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.main-timeline .icon i {
    display: inline-block;
    width: 85px;
    height: 85px;
    line-height: 87px;
    border-radius: 50%;
    background: #9F496E;
    font-size: 54px;
    color: #fff;
    text-align: center;
    margin-right: 20px;
}

.main-timeline .year {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    line-height: 36px;
    color: #797979;
    position: relative;
    top: -6px;
}

.main-timeline .timeline:nth-child(2n):before {
    left: -2%;
}

.main-timeline .timeline:nth-child(2n) .timeline-icon {
    border-radius: 12px 0 0 12px;
    left: 49%;
}

.main-timeline .timeline:nth-child(2n) .timeline-icon:before {
    left: -47px;
}

.main-timeline .timeline:nth-child(2n) .timeline-icon:after {
    left: -62px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    float: right;
    padding: 30px 80px 30px 40px;
}

.main-timeline .timeline:nth-child(2n) .icon {
    padding: 0 100px 0 0;
    text-align: right;
    right: auto;
    left: 0;
}

.main-timeline .timeline:nth-child(2n) .icon i {
    float: right;
    margin: 0 0 0 20px;
}

.main-timeline .timeline:nth-child(2n) .year {
    top: 24px;
}

.main-timeline .timeline:nth-child(2n):before,
.main-timeline .timeline:nth-child(2n) .timeline-icon,
.main-timeline .timeline:nth-child(2n) .timeline-icon:before,
.main-timeline .timeline:nth-child(2n) .timeline-icon:after,
.main-timeline .timeline:nth-child(2n) .icon i {
    background: #3B4351;
}

.main-timeline .timeline:nth-child(2n) .title {
    color: #3B4351;
}

.main-timeline .timeline:nth-child(3n):before,
.main-timeline .timeline:nth-child(3n) .timeline-icon,
.main-timeline .timeline:nth-child(3n) .timeline-icon:before,
.main-timeline .timeline:nth-child(3n) .timeline-icon:after,
.main-timeline .timeline:nth-child(3n) .icon i {
    background: #647295;
}

.main-timeline .timeline:nth-child(3n) .title {
    color: #647295;
}

.main-timeline .timeline:nth-child(4n):before,
.main-timeline .timeline:nth-child(4n) .timeline-icon,
.main-timeline .timeline:nth-child(4n) .timeline-icon:before,
.main-timeline .timeline:nth-child(4n) .timeline-icon:after,
.main-timeline .timeline:nth-child(4n) .icon i {
    background: #3B4351;
}

.main-timeline .timeline:nth-child(4n) .title {
    color: #3B4351;
}

@media only screen and (max-width: 767px) {

    .main-timeline .timeline:before,
    .main-timeline .timeline:nth-child(2n):before {
        margin: 0 auto;
        top: 4px;
        left: 0;
        right: 0;
    }

    .main-timeline .timeline-icon,
    .main-timeline .timeline:nth-child(2n) .timeline-icon {
        width: 100%;
        height: 24px;
        border-radius: 0 0 12px 12px;
        top: 0;
        left: 0;
        transform: translateX(0);
    }

    .main-timeline .timeline-icon:before,
    .main-timeline .timeline:nth-child(2n) .timeline-icon:before {
        width: 4px;
        height: 20px;
        margin: 0 auto;
        top: auto;
        left: 0;
        bottom: -20px;
        right: 0;
    }

    .main-timeline .timeline-icon:after,
    .main-timeline .timeline:nth-child(2n) .timeline-icon:after {
        margin: 0 auto;
        top: auto;
        left: 0;
        bottom: -32px;
        right: 0;
    }

    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        float: none;
        width: 100%;
        padding: 140px 20px 30px 20px;
        text-align: center;
    }

    .main-timeline .icon,
    .main-timeline .timeline:nth-child(2n) .icon {
        width: 100%;
        text-align: center;
        padding: 0;
        top: 55px;
        right: 0;
        transform: translateY(0);
    }

    .main-timeline .icon i,
    .main-timeline .timeline:nth-child(2n) .icon i {
        float: none;
        width: 70px;
        height: 70px;
        line-height: 74px;
        font-size: 44px;
        margin: 0 20px 0 0;
    }

    .main-timeline .timeline:nth-child(2n) .year {
        top: -6px;
    }
}

/*-------------------------------------------------*/
/*------------------Comment-Page-------------------*/

.flex-two-rows-comment {
    position: relative;
    display: flex;
    flex-direction: row;
    height: calc(100% - 30vh);
    width: 100%;
}

.flex-left-comment {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.flex-right-comment {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    overflow-y: auto;
}

.input-box-comment {
    /*box*/
    position: relative;
    font-size: 0.7vw;
    text-align: center;
    width: 15vw;
    height: 5vh;
}
.comment-date{
    font-size: clamp(0.2rem, 0.6vw, 1rem);
}

.comment-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
}

.header-in-box {
    display: flex;
    color: #9F496E;
    font-style: italic;
    font-size: clamp(0.2rem, 1.8vw, 1.8rem);
    width: 100%;
    height: 4vh;
    text-align: center;
    justify-content: center;

}

.header-in-box2 {
    color: #3B4351;
    font-style: normal;
    font-weight: bold;
}

.comment-box {
    background-color: white;
    width: 20vw;
    height: 6vh;
    padding-left: 1vw;
    padding-top: 0.2vh;
    padding-right: 0.1vw;
}

.empty-comment-box-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.comment-name {
    color: #9F496E;
    font-weight: bold;
}

.comment {
    overflow: hidden;
}

#delete-post{
    background-color: #9F496E;
    width: 1.5vw;
    height: 3vh;
    color: white;
    text-align: center;
    cursor: pointer;
}

/*-------------------------------------------------*/

/*--------------------Log-in-----------------------*/

.log-in-container {
    position: relative;
    height: 80vh;
    background-color: #F2EBE5;
    border-radius: 1vh 1vh 1vh 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.1vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.justify-center-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
}

.input-box {
    /*box*/
    position: relative;
    font-size: 1vw;
    text-align: center;
    width: 15vw;
}


.log-in-input-box>* {
    /* Selects all direct children of .log-in-input-box Thank you Stack overflow!*/
    margin-bottom: 3vh;

}

#not-registered {
    position: absolute;
    bottom: 2vh;
    display: flex;
    flex-direction: row;
    gap: 0.3vw;
}

#not-registered2 {
    position: absolute;
    bottom: 2vh;
    display: flex;
    flex-direction: row;
    gap: 0.3vw;
}

.register-link {
    font-weight: bold;
}

.log-in-instruction {
    margin-bottom: 0.5vh;
}

.log-in-input-box {
    position: relative;
    text-align: center;
}

.button-log-in {
    font-size: 1vw;
    text-align: center;
    width: 6vw;
    height: 4vh;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: white;
}

.button-log-in:hover {
    background-color: #9F496E;
    color: white;
    
}


/*---------------------Admin Page----------------------*/

.admin-grid-composition {
    /**/
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: auto;
}

.admin-output-window {
    /**/
    text-align: left;
    background-color: white;
    border: 1px solid black;
    overflow: auto;
    height: 32vh;
    resize: none;
}

.server-message-window {
    /**/
    height: 5vh;
    background-color: white;
    border: 1px solid black;
    color: black;
    text-align: center;
    font-weight: bold;
}

.admin-container {
    display: flex;
    flex-direction: column;
}

.input-admin {
    vertical-align: top;
    text-align: center;
    height: 18vh;
    width: 100%;
    resize: none;
}

.buttons-container {
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    margin-top: 0.2vh;
}

#submitButton-sql {
    height: 5vh;
    font-size: clamp(0.5rem, 1.3vw, 1.3rem);
    width: 100%;
}

.pagination-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: auto;
}

.previous-next-container {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    font-size: clamp(0.5rem, 1vw, 1rem);
}


.admin-table-button {
    height: 3vh;
}

.admin-header {
    height: 4vh;
    border: 1px solid black;
    background-color: #9F496E;
    color: white;
    font-weight: bold;
    font-size: clamp(0.5rem, 1.3vw, 1.3rem);
}

.top-border {
    border-radius: 1vh 1vh 0vh 0vh;
}

.radio-container {
    font-size: clamp(0.5rem, 1.3vw, 1.3rem);
    font-weight: bold;
}

.radio-container input[type="radio"] {
    width: 1vw;
    height: 2vh;
}

#limit,
#page {
    height: 4vh;
    font-size: clamp(0.5rem, 1.3vw, 1.3rem);
    text-align: center;
    font-weight: bold;
}

.numberSelect {
    width: 100%;
}

#submitButton-search {
    height: 4vh;
    font-size: clamp(0.5rem, 1.3vw, 1.3rem);
}

#current,
#total {
    width: 6vw;
    height: 4vh;
    text-align: center;
    font-size: clamp(0.5rem, 1.3vw, 1.3rem);
    font-weight: bold;
    border: none;
}

#table {
    display: none;
}

#limit-2 {
    display: none;
}

#previous,
#next {
    height: 4vh;
    width: 2vw;
}


/*------------------Error and Success message----------------------*/
.error-window {
    position: relative;
    height: 50vh;
    background-color: #F2EBE5;
    border-radius: 1vh 1vh 1vh 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.1vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.error-message {
    display: flex;
    align-items: center;
    text-align: center;
    color: red;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1vh;
    height: 3vh;

}

.success-message {
    display: flex;
    align-items: center;
    text-align: center;
    color: green;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1vh;
    height: 3vh;
}

.display-code {
    margin-top: 1vh;
    font-size: clamp(0.2rem, 2.5vw, 2.5rem);

}

.server-message {
    text-align: center;
    height: 12vh;
    width: 100%;
    margin-top: 2vh;
    font-size: clamp(0.2rem, 1vw, 1rem);
}

.return-to-login {
    font-weight: bold;
}

/*-----------------------------------------------------*/
/*-----------------------------------------------------*/

/*-----------------------------------------------------*/
/*--------------------Contact - Page-------------------*/

.flex-contact-left {
    position: relative;
    flex: 1;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.flex-contact-right {
    display: flex;
    flex: 1;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

#contact-email {
    width: 12vw;
    margin-bottom: 0.2vh;
    border: 1px solid #ccc;
}

#contact-submit {
    font-size: 1vw;
    text-align: center;
    width: 6vw;
    height: 4vh;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: white;
}

#contact-message {
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    margin-bottom: 0.2vh;
    border: 1px solid #ccc;
    height: 25vh;
}

#contact-submit:hover {
    background-color: #9F496E;
    color: white;
}

#contact-email,
#contact-message {
    width: 20vw;
    font-size: clamp(0.2rem, 1.5vw, 1.5rem);
    text-align: center;
    resize: none;
}

.icons-contact {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    font-size: clamp(0.2rem, 2vw, 2rem);
    margin-bottom: 2vh;
}

.contact-text {
    font-size: clamp(0.2rem, 1.2vw, 1.2rem);
}

.icons-contact{
    font-size: clamp(0.2rem, 1.2vw, 1.2rem);
}


.center-icons-contact {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    width: 3vh;
}